In [ ]:
# Task - 11

In [ ]:
# Understanding Series and DataFrames

In [1]:
# 1. Create a Series and DataFrame:

import pandas as pd

favorite_movies = ['Inception', 'The Shawshank Redemption', 'The Dark Knight', 'Interstellar', 'The Godfather', 'Pulp Fiction']

movies_series = pd.Series(favorite_movies)

print("Favorite Movies:")
print(movies_series)

Favorite Movies:
0                   Inception
1    The Shawshank Redemption
2             The Dark Knight
3                Interstellar
4               The Godfather
5                Pulp Fiction
dtype: object

In [2]:
import pandas as pd

favorite_movies = ['Inception', 'The Shawshank Redemption', 'The Dark Knight', 'Interstellar', 'The Godfather', 'Pulp Fiction']
years_released = [2010, 1994, 2008, 2014, 1972, 1994]
genres = ['Sci-Fi', 'Drama', 'Action', 'Sci-Fi', 'Crime', 'Crime']
data = {
    'Movie': favorite_movies,
    'Year Released': years_released,
    'Genre': genres
}
movies_df = pd.DataFrame(data)

print("Favorite Movies with Year Released and Genre:")
print(movies_df)

Favorite Movies with Year Released and Genre:
                      Movie  Year Released   Genre
0                 Inception           2010  Sci-Fi
1  The Shawshank Redemption           1994   Drama
2           The Dark Knight           2008  Action
3              Interstellar           2014  Sci-Fi
4             The Godfather           1972   Crime
5              Pulp Fiction           1994   Crime

In [3]:
# 2. Basic DataFrame Operations:

import pandas as pd
movies_df['Classic'] = movies_df['Year Released'].apply(lambda year: 'Yes' if 2024 - year > 25 else 'No')

print("Movies DataFrame with Classic column:")
print(movies_df)

Movies DataFrame with Classic column:
                      Movie  Year Released   Genre Classic
0                 Inception           2010  Sci-Fi      No
1  The Shawshank Redemption           1994   Drama     Yes
2           The Dark Knight           2008  Action      No
3              Interstellar           2014  Sci-Fi      No
4             The Godfather           1972   Crime     Yes
5              Pulp Fiction           1994   Crime     Yes

In [4]:
import pandas as pd

movies_df_sorted = movies_df.sort_values(by='Year Released', ascending=False)
print("Movies DataFrame sorted by Year Released (descending order):")
print(movies_df_sorted)

Movies DataFrame sorted by Year Released (descending order):
                      Movie  Year Released   Genre Classic
3              Interstellar           2014  Sci-Fi      No
0                 Inception           2010  Sci-Fi      No
2           The Dark Knight           2008  Action      No
1  The Shawshank Redemption           1994   Drama     Yes
5              Pulp Fiction           1994   Crime     Yes
4             The Godfather           1972   Crime     Yes

In [5]:
# 3. Data Selection:

import pandas as pd
classic_movies = movies_df[movies_df['Classic'] == 'Yes']

print("Classic Movies:")
print(classic_movies)

Classic Movies:
                      Movie  Year Released  Genre Classic
1  The Shawshank Redemption           1994  Drama     Yes
4             The Godfather           1972  Crime     Yes
5              Pulp Fiction           1994  Crime     Yes

In [6]:
import pandas as pd

selected_columns = movies_df[['Genre', 'Year Released']]

print("Selected Columns ('Genre' and 'Year Released') for all movies:")
print(selected_columns)

Selected Columns ('Genre' and 'Year Released') for all movies:
    Genre  Year Released
0  Sci-Fi           2010
1   Drama           1994
2  Action           2008
3  Sci-Fi           2014
4   Crime           1972
5   Crime           1994

In [ ]:
# Data Cleaning with Pandas: Handling Missing Data, Data Transformation

In [7]:
# 1. Handling Missing Values:

import pandas as pd
import numpy as np

data = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [6, np.nan, 8, np.nan, 10],
    'C': [11, 12, 13, np.nan, 15]
}

df = pd.DataFrame(data)

print("DataFrame with missing values:")
print(df)

DataFrame with missing values:
     A     B     C
0  1.0   6.0  11.0
1  2.0   NaN  12.0
2  NaN   8.0  13.0
3  4.0   NaN   NaN
4  5.0  10.0  15.0

In [13]:
import pandas as pd
import numpy as np

data = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [6, np.nan, 8, np.nan, 10],
    'C': [11, 12, 13, np.nan, 15],
    'D': [16, 17, 18, 19, 20]
}

df = pd.DataFrame(data)

rows_with_missing_values = df[df.isnull().any(axis=1)]

print("Rows with missing values:")
print(rows_with_missing_values)

Rows with missing values:
     A    B     C   D
1  2.0  NaN  12.0  17
2  NaN  8.0  13.0  18
3  4.0  NaN   NaN  19

In [15]:
import pandas as pd
import numpy as np

data = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [6, np.nan, 8, np.nan, 10],
    'C': [11, 12, 13, np.nan, 15],
    'D': [16, 17, 18, 19, 20]
}

df = pd.DataFrame(data)

df_filled = df.fillna(df.mean())

print("DataFrame after replacing missing values with column means:")
print(df_filled)

DataFrame after replacing missing values with column means:
     A     B      C   D
0  1.0   6.0  11.00  16
1  2.0   8.0  12.00  17
2  3.0   8.0  13.00  18
3  4.0   8.0  12.75  19
4  5.0  10.0  15.00  20

In [19]:
# 2. Data Transformation Exercises:

import pandas as pd

data = {
    'Employee Names': ['Ashley John', 'Bibin Joseph', 'Theo Joseph Bibin', 'Tia Titus']
}

df = pd.DataFrame(data)

df['Employee Names'] = df['Employee Names'].str.upper()

print("DataFrame with employee names transformed to uppercase:")
print(df)

DataFrame with employee names transformed to uppercase:
      Employee Names
0        ASHLEY JOHN
1       BIBIN JOSEPH
2  THEO JOSEPH BIBIN
3          TIA TITUS

In [23]:
import pandas as pd

data = {
    'Salary': ['$40,000', '$50,000', '$60,000', '$70,000']
}

df = pd.DataFrame(data)

df['Salary'] = df['Salary'].str.replace('$', '').str.replace(',', '').astype(float)

print("DataFrame with 'Salary' column corrected:")
print(df)

DataFrame with 'Salary' column corrected:
    Salary
0  40000.0
1  50000.0
2  60000.0
3  70000.0

C:\Users\johna\AppData\Local\Temp\ipykernel_25772\1504350052.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Salary'] = df['Salary'].str.replace('$', '').str.replace(',', '').astype(float)

In [26]:
# 3. Advanced Selection and Filtering:

import pandas as pd

data = {
    'Movie': ['Inception', 'The Shawshank Redemption', 'The Dark Knight', 'Interstellar', 'The Godfather', 'Pulp Fiction'],
    'Year Released': [2010, 1994, 2008, 2014, 1972, 1994],
    'Genre': ['Sci-Fi', 'Drama', 'Action', 'Sci-Fi', 'Crime', 'Crime']
}
df = pd.DataFrame(data)
selected_rows = df[(df['Year Released'] > 2000) & (df['Genre'] != 'Action')]

print("Rows where 'Year Released' is after 2000 but the genre is not 'Action':")
print(selected_rows)

Rows where 'Year Released' is after 2000 but the genre is not 'Action':
          Movie  Year Released   Genre
0     Inception           2010  Sci-Fi
3  Interstellar           2014  Sci-Fi

In [29]:
import pandas as pd

data = {
    'Movie': ['Inception', 'The Shawshank Redemption', 'The Dark Knight', 'Interstellar', 'The Godfather', 'Pulp Fiction', 'Due Date'],
    'Year Released': [2010, 1994, 2008, 2014, 1972, 1994, 2005],
    'Genre': ['Sci-Fi', 'Drama', 'Action', 'Sci-Fi', 'Crime', 'Crime', 'Comedy']
}

df = pd.DataFrame(data)

selected_rows = df[df['Genre'].isin(['Comedy', 'Horror'])]

print("Rows where the genre is either 'Comedy' or 'Horror':")
print(selected_rows)

Rows where the genre is either 'Comedy' or 'Horror':
      Movie  Year Released   Genre
6  Due Date           2005  Comedy

In [31]:
# 4. Grouping and Aggregating Data:

import pandas as pd

data = {
    'Employee ID': [1, 2, 3, 4, 5, 6],
    'Name': ['Ashley', 'John', 'Bibin', 'Joseph', 'Theo', 'Tiana'],
    'Department': ['HR', 'Finance', 'HR', 'Finance', 'HR', 'Finance'],
    'Salary': [50000, 60000, 55000, 65000, 52000, 70000]
}

df = pd.DataFrame(data)

average_salary_per_department = df.groupby('Department')['Salary'].mean()

print("Average salary per department:")
print(average_salary_per_department)

Average salary per department:
Department
Finance    65000.000000
HR         52333.333333
Name: Salary, dtype: float64

In [33]:
import pandas as pd

data = {
   'Movie': ['Inception', 'The Shawshank Redemption', 'The Dark Knight', 'Interstellar', 'The Godfather', 'Pulp Fiction', 'Due Date'],
    'Year Released': [2010, 1994, 2008, 2014, 1972, 1994, 2005],
    'Genre': ['Sci-Fi', 'Drama', 'Action', 'Sci-Fi', 'Crime', 'Crime', 'Comedy']
}

movies_df = pd.DataFrame(data)

movies_per_genre = movies_df.groupby('Genre').size().reset_index(name='Total Movies')

print("Total number of movies per genre:")
print(movies_per_genre)

Total number of movies per genre:
    Genre  Total Movies
0  Action             1
1  Comedy             1
2   Crime             2
3   Drama             1
4  Sci-Fi             2